body {
  background: #eee;
}
.box h3 {
  margin: 5px;
  text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.548);
}
.button-add {
  font-size: 25px;
  width: 130px;
  border-radius: 15px;
  background-color: white;
}
span {
  font-size: 15px;
}
.box {
  padding: 30px 0px;
}
.card {
  border-radius: 25px;
}
.box-part {
  background: #fff;
  border-radius: 25px;
  padding: 15px 10px;
  margin: 20px 0px;
}

.favoritar {
  width: 25px;
  height: 25px;
  margin-top: -6px;
  margin-left: 10px;
}
.text {
  margin: 20px 0px;
}

.fa {
  color: #4183d7;
}
